:root{
    --custom-background-color: #02c7ba;
}
.bg-primary{
    background-color: var(--custom-background-color) !important;
}

.nav-link.active {
    background-color: var(--custom-background-color)!important;
}

.dropdown-item:active{
    background-color: var(--custom-background-color)!important;
}